* {
 font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.footer, {
    background-color: #1F2937;
}

.banner {
    background-color: #3882f6;
}

.mid-section-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.footer {
    color: #E5E7EB;
}

/* #region Header style */

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding-left: 16px;
}

.header-links-section {
    text-decoration: none;
}

.header-link {
    padding: 0px 16px;
}

/* #endregion Header Style */

/* #region Hero styles */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px;
}

.hero-left {
    width: 500px;
    padding: 32px;
}

.hero-right {
    display: flex;
    width: 500px;
    margin: 16px;
    height: 200px;
    background-color: grey;
    color:#E5E7EB;
    justify-content: center;
    align-items: center;
}

.hero-secondary-text, .header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin: 10px 0px;
}

.hero-button {
    background-color: #3882f6;
    border: none;
    color:#E5E7EB;
    padding: 4px 24px;
    border-radius: 4px;
}

.hero-title {
    font-weight: bolder;
    color: #F9FAF8;
    font-size: 48px;
}

/* #endregion Hero styles */